<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hu.kifor.tamas.vonatinfo" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".android.ui.StationsActivity"
            android:label="@string/title_activity_stations"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".android.service.TraininfoService" />

        <receiver android:name=".pebble.PebbleReceiver" >
            <intent-filter>
                <action android:name="com.getpebble.action.app.RECEIVE" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
